
<%- include("header.ejs") -%> 

<h2>This is the about page</h2>


<p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah </p>

<%- include("footer.ejs") -%>